{% extends "layout/base.html" %}

{% block content %}
	<br>
	<br>
	<br>
	<br>
  <div id="wrap">
     <div class="container">
        <div class="starter-template" align=center>
	    <IMG class="centeredImage" SRC="../static/images/craigLogoxx2.png" >
		<p class="lead">
		<font size = 5>
                 <b>
					 Intelligent Subletting Analytics
				 </b><font size = 5></p>
<p class="lead">
              </p>
        </div>
    </div>



 <div id="container" align=center>
	<form action="/cities" method=post>
		<b> <input type="submit" name="submit" value="Nevada" ></b> 
		&nbsp;&nbsp;&nbsp;&nbsp;
		<b><input type="submit" name="submit" value="California"></b>
	</form>



<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="footer">
  <div id="container" align=center>
        <p> &copy; Sara Salha; <b><a href="http://insightdatascience.com" target="_blank">Insight</a></b> Data Science 2014</p>
	</div>
</div>
</div>
</div>
{% endblock %}




